body {
	margin: 0;
	padding: 0;
    background-color: #182025;
	overflow-y: auto;
    overflow-x: hidden;
}

#map {
    position: fixed;
    width:50%;
    top: 0;
	bottom: 0;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background-color: #182025 !important;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib a {
    color: #f1dbb9 !important;
}

.mapboxgl-ctrl-group {
    background-color: #182025 !important;
    color: #f1dbb9 !important;
    border: 1px solid #f1dbb9 !important;
}
.mapboxgl-ctrl-group > button + button {
    border-top: 1px solid #f1dbb9 !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23f1dbb9%3B%27%20d%3D%27m%207%2C9%20c%20-0.554%2C0%20-1%2C0.446%20-1%2C1%200%2C0.554%200.446%2C1%201%2C1%20l%206%2C0%20c%200.554%2C0%201%2C-0.446%201%2C-1%200%2C-0.554%20-0.446%2C-1%20-1%2C-1%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23f1dbb9%3B%27%20d%3D%27M%2010%206%20C%209.446%206%209%206.4459904%209%207%20L%209%209%20L%207%209%20C%206.446%209%206%209.446%206%2010%20C%206%2010.554%206.446%2011%207%2011%20L%209%2011%20L%209%2013%20C%209%2013.55401%209.446%2014%2010%2014%20C%2010.554%2014%2011%2013.55401%2011%2013%20L%2011%2011%20L%2013%2011%20C%2013.554%2011%2014%2010.554%2014%2010%20C%2014%209.446%2013.554%209%2013%209%20L%2011%209%20L%2011%207%20C%2011%206.4459904%2010.554%206%2010%206%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%0A%09%3Cpolygon%20fill%3D%27%23f1dbb9%27%20points%3D%276%2C9%2010%2C1%2014%2C9%27%2F%3E%0A%09%3Cpolygon%20fill%3D%27%23784a3a%27%20points%3D%276%2C11%2010%2C19%2014%2C11%20%27%2F%3E%0A%3C%2Fsvg%3E") !important;
}


#features {
    width: 50%;
    margin-left: 50%;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
}
section {
    padding: 100px 50px 25px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 20px;
}

#welcome {
    padding-top: 25px;
}

section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 1000px;
}

#container {
    height: 600px;
    margin: 0 auto
}


.map-overlay {
    font: 12px/20px 'Helvetica Neue', sans-serif;
    position: fixed;
    width: 20%;
    bottom: 20px;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #ffffd9, #edf8b1, #c7e9b4, #7fcdbb, #41b6c4, #1d91c0, #225ea8, #253494, #081d58);
}

#legend {
    display: none;
}

.mapboxgl-popup-close-button {
    display: none;
}

.row {
    display: flex;
    margin: 10px 0;
}

.match {
    max-width: 500px;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto;
}

.match:hover {
    cursor: pointer;
    /*background-color: #415766;*/
}

.score {
    text-align: center;
    border-bottom: 1px solid white;
}

.details {
    width: 100%;
    font-size: 15px;
}

.pull-right {
    text-align: right;
}

.end {
    padding: 20px 50px;
    line-height: 25px;
    font-size: 20px;
}
